@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 10px;
}
.nav{
    height: 4rem;
    width: 100vw;
    /* position: absolute; */
    z-index: 1;
    background-color: blueviolet;
    display: flex;
}
.nav h3{
    font-size: 3rem;
}
/* body  */
.card-container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
footer{
    text-align: center;
    color: aliceblue;
    background-color: black;
}